<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
	<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
		<service behaviorConfiguration="mexBehavior" name="ServicioJuegoPassword.Servicios.ServicioPassword">
			<endpoint address="ServicioJuegoPassword.Interfaces" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="ServicioJuegoPassword.Interfaces.IServicioChat" />
			<endpoint address="ServicioJuegoPassword.Interfaces" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="ServicioJuegoPassword.Interfaces.IServicioGestionAcceso" />
			<endpoint address="ServicioJuegoPassword.Interfaces" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="ServicioJuegoPassword.Interfaces.IServicioPersonalizacionPerfil" />
			<endpoint address="ServicioJuegoPassword.Interfaces" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="ServicioJuegoPassword.Interfaces.IServicioGestionAmistad" />
			<endpoint address="ServicioJuegoPassword.Interfaces" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="ServicioJuegoPassword.Interfaces.IServicioGestionPartida" />
			<endpoint address="ServicioJuegoPassword.Interfaces" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="ServicioJuegoPassword.Interfaces.IServicioSalaDeEspera" />
			<endpoint address="ServicioJuegoPassword.Interfaces" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="ServicioJuegoPassword.Interfaces.IServicioJugadores" />
			<endpoint address="ServicioJuegoPassword.Interfaces" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="ServicioJuegoPassword.Interfaces.IServicioPartida" />
			<endpoint address="ServicioJuegoPassword.Interfaces" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="ServicioJuegoPassword.Interfaces.IServicioGestionEstadisticas" />
			<endpoint address="ServicioJuegoPassword.Interfaces" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="ServicioJuegoPassword.Interfaces.IServicioGestionLogros" />
			<host>
				<baseAddresses>
					<add baseAddress="http://localhost:8080" />
					<add baseAddress="net.tcp://localhost:8090" />
				</baseAddresses>
			</host>
		</service>
	</services>

	<bindings>
		<netTcpBinding>
			<binding name="SecureBinding"
						 sendTimeout="00:00:10"
						 receiveTimeout="00:05:00"
						 openTimeout="00:00:05"
						 closeTimeout="00:00:05"
						 maxBufferSize="65536"
						 maxReceivedMessageSize="65536"
						 transferMode="Buffered">
				<security mode="None" >
					<message clientCredentialType="None"/>
					<transport clientCredentialType ="None"/>
				</security>
				<reliableSession enabled="true" />
			</binding>
		</netTcpBinding>
	</bindings>
	  
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<log4net>
		<appender name="Bitacora" type="log4net.Appender.RollingFileAppender">
			<file value="Logs.log" />
			<encoding value="utf-8" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="20" />
			<maximumFileSize value="10MB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%logger]{%method} %level: %message%n" />
			</layout>
		</appender>
		<root>
			<level value="Warn" />
			<appender-ref ref="Bitacora" />
		</root>
	</log4net>
  <connectionStrings>
    <add name="PasswordEntidades" connectionString="metadata=res://*/ModeloPassword.csdl|res://*/ModeloPassword.ssdl|res://*/ModeloPassword.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-JLEQRMT1\SQLEXPRESS;initial catalog=Password;persist security info=True;user id=usuario2;password=12345;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>