<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>	
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IServicioChat">
          <reliableSession enabled="true" />
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IServicioGestionAcceso">
          <reliableSession enabled="true" />
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IServicioPersonalizacionPerfil">
          <reliableSession enabled="true" />
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IServicioGestionAmistad">
          <reliableSession enabled="true" />
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IServicioGestionPartida">
          <reliableSession enabled="true" />
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IServicioSalaDeEspera">
          <reliableSession enabled="true" />
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IServicioJugadores">
          <reliableSession enabled="true" />
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IServicioPartida">
          <reliableSession enabled="true" />
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IServicioGestionEstadisticas">
          <reliableSession enabled="true" />
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IServicioGestionLogros">
          <reliableSession enabled="true" />
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8090/ServicioJuegoPassword.Interfaces"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioChat"
        contract="ServidorPassword.IServicioChat" name="NetTcpBinding_IServicioChat" />
      <endpoint address="net.tcp://localhost:8090/ServicioJuegoPassword.Interfaces"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioGestionAcceso"
        contract="ServidorPassword.IServicioGestionAcceso" name="NetTcpBinding_IServicioGestionAcceso" />
      <endpoint address="net.tcp://localhost:8090/ServicioJuegoPassword.Interfaces"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioPersonalizacionPerfil"
        contract="ServidorPassword.IServicioPersonalizacionPerfil" name="NetTcpBinding_IServicioPersonalizacionPerfil" />
      <endpoint address="net.tcp://localhost:8090/ServicioJuegoPassword.Interfaces"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioGestionAmistad"
        contract="ServidorPassword.IServicioGestionAmistad" name="NetTcpBinding_IServicioGestionAmistad" />
      <endpoint address="net.tcp://localhost:8090/ServicioJuegoPassword.Interfaces"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioGestionPartida"
        contract="ServidorPassword.IServicioGestionPartida" name="NetTcpBinding_IServicioGestionPartida" />
      <endpoint address="net.tcp://localhost:8090/ServicioJuegoPassword.Interfaces"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioSalaDeEspera"
        contract="ServidorPassword.IServicioSalaDeEspera" name="NetTcpBinding_IServicioSalaDeEspera" />
      <endpoint address="net.tcp://localhost:8090/ServicioJuegoPassword.Interfaces"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioJugadores"
        contract="ServidorPassword.IServicioJugadores" name="NetTcpBinding_IServicioJugadores" />
      <endpoint address="net.tcp://localhost:8090/ServicioJuegoPassword.Interfaces"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioPartida"
        contract="ServidorPassword.IServicioPartida" name="NetTcpBinding_IServicioPartida" />
      <endpoint address="net.tcp://localhost:8090/ServicioJuegoPassword.Interfaces"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioGestionEstadisticas"
        contract="ServidorPassword.IServicioGestionEstadisticas" name="NetTcpBinding_IServicioGestionEstadisticas" />
      <endpoint address="net.tcp://localhost:8090/ServicioJuegoPassword.Interfaces"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioGestionLogros"
        contract="ServidorPassword.IServicioGestionLogros" name="NetTcpBinding_IServicioGestionLogros" />
    </client>
  </system.serviceModel>
</configuration>